{% extends 'base.html' %}

{% block content %}
<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
        <h1 style="color: whitesmoke">Sign Up</h1>
        <p style="color: whitesmoke">Please fill in this form to create an account.</p>
        <hr>
        <label style="color: whitesmoke" for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label style="color: whitesmoke" for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <label style="color: whitesmoke" for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        <label style="color: whitesmoke">
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>
        <p style="color: whitesmoke">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
        <a>
        <div class="clearfix">
            <button><a href='/' type="button" class="cancelbtn">Cancel</a></button>
            <button><a href='/create' type="submit" class="signupbtn">Sign Up</a></button>
        </div>
        </a>
    </div>
</form>

{% endblock %}
