<!-- templates/playlists_new.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/games'>
    <fieldset>
    <legend style="color:whitesmoke">New Game Listing</legend>
    <!-- TITLE -->
    <p>
        <label style="color:whitesmoke" for='title'>Name of your game</label><br>
        <input type='text' name='title' />
    </p>
    <!-- DESCRIPTION -->
    <p>
        <label style="color:whitesmoke" for='description'>Description of your game</label><br>
        <input type='text' name='description' />
    </p>
    <!-- URL FOR IMAGE-->
    <p> 
        <label style="color:whitesmoke" for='url'>upload image URL</label><br>
        <input type='url' name='url' />
    </p>
    
</fieldset>
    <!-- SAVE BUTTON -->
    <p>
        <button type='submit'>Save Game</button>
    </p>
</form>
<a href='/'>Cancel</a>
{% endblock %}